body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(45deg, black, cadetblue);
}

.calculate{
    padding-top: 1em;
    padding: 0.8em;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.2em;
}

#result{
    height: 20px;
    margin: auto;
    font-size: 1.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
    text-align: right;
}

.btn{
    height: 3em;
    width: 3em;
    background-color: #222;
    color: white;
    cursor: pointer;
    border: none;
    
}
.btn:hover{
    background-color: black;
}

#btnz{
    width: 6.4em;
}

#btneq{
    height: 6.4em;
}

@media (min-width: 380px ){
    
    .calculate{
        width: 300px;
        height: 510px;
    }

    #result{
        height: 50px;
        font-size: 2.5em;
    }

    .btn{
        margin-top: 5px;
        height: 5em;
        width: 5em;
        margin-left: 3px;
    }

    #btnz{
        width: 10.5em;
    }
    
    #btneq{
        height: 10.5em;
    }
}